:root{}

*{
    margin: 0;
    padding: 0;
}

/* POSITIONS */

.absolute{
    position: absolute;
}

/* MAIN STRUCTURE */

.container{
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden; /*ocultar el contenido desbordado*/
    background: url('../images/bgImage.svg');
    background-repeat: no-repeat;
    /*background-size=define el tamaño de la imagen de fondo; 
    cover= cambia el tamaño de la imagen de fondo para asegurarse de que el elemento esté completamente cubierto*/
    background-size: cover; 
    font-family: 'Cantarell', sans-serif;
}

.title-bar{
    width: 100%;
    top: 1vw;
    text-align: center;
}

h1{
    font-family: 'Silkscreen', cursive;
    font-size: 5vw;
    color: Coral;
    text-shadow: 2px 2px 2px DarkRed;
}

.score-table{
    width: 20vw;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    right: 2vw;
    top: 8vw;
}

.score-table-titles, 
.score-table-results{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.score-table-titles h2{
    width: 10vw;
    text-align: center;
    color: beige;
    text-shadow: 2px 2px 2px black;
}

.score-table-results p{
    width: 10vw;
    font-size: 1.3vw;
    text-align: center;
    color: white;
}

.gallow{
    width: 23vw;
    height: 54vh;
    top: 16vw;
    left: 6vw;
    border: 1px solid red;
}

.gallow-color{
    background: SaddleBrown;
    border: 1px solid Sienna;
}

.gallow-base{
    width: 6vw;
    height: 4vh;
    bottom: 0vw;
}

.gallow-wood-1{
    width: 2vw;
    height: 50vh;
    bottom: 4vh;
    left: 2vw;
}

.gallow-wood-2{
    width: 15vw;
    height: 2vw;
    left: 2vw;
    top: 0vw;
}

.nail-circle{
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    border: 1px solid black;
    background: gray;
}

.nail-1{
    left: 2.7vw;
    top: 0.7vw;
}

.gallow-wood-3{
    width: 10vw;
    height: 2vw;
    top: 2.5vw;
    left: 2vw;
    transform: rotate(-30deg);
}

.nail-2{
    left: 10vw;
    top: 1vw;
}

.nail-3{
    left: 3vw;
    top: 5vw;
}

.string{
    left: 14vw;
    top: 2vw;
}

.string img{
    height: 8vw;
}

.hangman{
    height: 36vh;
    width: 15vw;
    top: 23vw;
    left: 14vw;
    border: 1px solid white;
}

.hangman-head{
    top: 0vw;
    left: 5.5vw;
}

.hangman-head img{
    width: 4vw;
    height: 4vw;
}

.hangman-body{
    top: 2.6vw;
    left: 3.8vw;
}

.hangman-body img{
    width: 7vw;
    height: 7vw;
}

.hangman-right-arm{
    top: 4vw;
    left: 0.8vw;
}

.hangman-right-arm img{
    width: 8vw;
    height: 8vw;
}

.hangman-left-arm{
    top: 2.7vw;
    left: 7.4vw;
}

.hangman-left-arm img{
    width: 7vw;
    height: 7vw;
}

.hangman-right-leg{
    top: 9.6vw;
    left: 1.4vw;
}

.hangman-left-leg{
    top: 9.6vw;
    left: 5.6vw;
}

.hangman-left-leg img, 
.hangman-right-leg img{
    width: 8vw;
    height: 8vw;
}


.footer{
    height: 5vh;
    margin-top: -2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-shadow: 2px 2px 2px white;
}
/* @media (max-width: 640px) {
    /* El media query se ejecuta desde 0px HASTA 640px */
    /*.title-bar{
        top: 8vw;
    /*}

    h1{
        font-size: 10vw;
    }
}

@media (min-width: 641px) {
    /* El media query se ejecuta desde 641px HACIA arriba */

    /* .title-bar{
        top: 8vw;
    }

    h1{
        font-size: 10vw;
    } */
/*} */


@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1280px) {
    /* Laptop with MDPI screen 1280x800 */
    /* El media query se ejecuta desde 0px HASTA 1280px */

    /* .title-bar{
        top: 2vw;
    } */
}

@media screen and (max-width: 1024px) {
	/* iPad pro 1024x1366 41% */

    .title-bar{
        top: 5vw;
    }

    h1{
        font-size: 7vw;
    }

    .score-table{
        width: 100%;
        top: 15vw;
        right: 0vw;
        font-size: 3vw;
    }
    
    .score-table-titles, 
    .score-table-results{
        width: 100%;
    }

    .score-table-titles h2{
        width: 50%;
    }

    .score-table-results p{
        width: 50%;
        height: 6.4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.3vw;
    }

    .gallow{
        width: 60vw;
        height: 27vh;
        top: 21vw;
        position: relative;
        left: 0;
    }

    .gallow-base {
        width: 8vw;
        height: 2vh;
    }

    .gallow-wood-1 {
        height: 25vh;
        bottom: 2vh;
        left: 3vw;
    }

    .gallow-wood-2 {
        width: 14vw;
        left: 3vw;
    }

    .nail-1 {
        left: 3.7vw;
    }

    .gallow-wood-3 {
        top: 3vw;
        left: 3vw;
    }

    .nail-2 {
        left: 11vw;
    }

    .nail-3 {
        left: 4vw;
        top: 6vw;
    }

    .string {
        left: 14.5vw;
    }

    .string img {
        height: 9vw;
    }

    .hangman {
        height: 19vh;
        top: 40vw;
        left: 28.4vw;
    }

    .footer{
        height: 4vh;
        margin-top: -5.7vw;
        font-size: 3vw;
    }
}

@media screen and (max-width: 720px) {
	/* redmi note 9c 720x1600 35% */

    .title-bar{
        top: 8vw;
    }

    h1{
        font-size: 10vw;
    }

    .score-table{
        width: 80%;
        top: 25vw;
        font-size: 4vw;
        position: relative;
    }

    .score-table-results p{
        font-size: 5vw;
    }

    .gallow{
        width: 80vw;
        height: 20vh;
        top: 0vw;
    }

    .gallow-base {
        width: 10vw;
        height: 1.5vh;
    }

    .gallow-wood-1 {
        height: 18.5vh;
        bottom: 1.5vh;
        width: 3vw;
    }

    .gallow-wood-2 {
        width: 20vw;
        height: 3vw;
    }

    .gallow-wood-3 {
        width: 16vw;
        height: 3vw;
        top: 5vw;
        transform: rotate(-42deg);
    }

    .nail-circle {
        width: 1vw;
        height: 1vw;
    }

    .nail-2 {
        left: 15vw;
        top: 1.5vw;
    }

    .nail-3 {
        left: 4.6vw;
        top: 10.6vw;
    }

    .string {
        left: 19vw;
    }

    .string img {
        height: 14vw;
    }

    .footer{
        margin-top: -9vw;
        font-size: 4vw;
    }
}

@media screen and (max-width: 280px) {
	/* galaxy fold 280x653 87% */
}