:root{
    --background-color: rgba(83, 48, 141, 255); /* #53308dff */
    --title-color: Coral;
    --title-shadow-color: DarkRed;
}

*{
    margin: 0;
    padding: 0;
}

.inactive, 
.hide-hangman-parts, 
.hide-success-alert, 
.hide-danger-alert{
    display: none;
}

/* POSITIONS */

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

/* MAIN STRUCTURE */

.container{
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden; /*ocultar el contenido desbordado*/
    background: url('../images/bgImage.svg');
    background-repeat: no-repeat;
    /*background-size=define el tamaño de la imagen de fondo; 
    cover= cambia el tamaño de la imagen de fondo para asegurarse de que el elemento esté completamente cubierto*/
    background-size: cover; 
    font-family: 'Cantarell', sans-serif;
}

.title-bar{
    width: 100%;
    top: 1vw;
    text-align: center;
}

h1{
    font-family: 'Silkscreen', cursive;
    font-size: 5vw;
    color: var(--title-color);
    text-shadow: 2px 2px 2px var(--title-shadow-color);
}

.score-table{
    width: 20vw;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    right: 2vw;
    top: 8vw;
}

.score-table-titles, 
.score-table-results{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.score-table-titles h2{
    width: 10vw;
    text-align: center;
    color: beige;
    text-shadow: 2px 2px 2px black;
}

.score-table-results p{
    width: 10vw;
    font-size: 1.3vw;
    text-align: center;
    color: white;
}

.gallow{
    width: 23vw;
    height: 54vh;
    top: 16vw;
    left: 6vw;
}

.gallow-color{
    background: SaddleBrown;
    border: 1px solid Sienna;
}

.gallow-base{
    width: 6vw;
    height: 4vh;
    bottom: 0vw;
}

.gallow-wood-1{
    width: 2vw;
    height: 50vh;
    bottom: 4vh;
    left: 2vw;
}

.gallow-wood-2{
    width: 15vw;
    height: 2vw;
    left: 2vw;
    top: 0vw;
}

.nail-circle{
    width: 0.5vw;
    height: 0.5vw;
    border-radius: 50%;
    border: 1px solid black;
    background: gray;
}

.nail-1{
    left: 2.7vw;
    top: 0.7vw;
}

.gallow-wood-3{
    width: 10vw;
    height: 2vw;
    top: 2.5vw;
    left: 2vw;
    transform: rotate(-30deg);
}

.nail-2{
    left: 10vw;
    top: 1vw;
}

.nail-3{
    left: 3vw;
    top: 5vw;
}

.string{
    left: 14vw;
    top: 2vw;
}

.string img{
    height: 8vw;
}

.hangman{
    height: 36vh;
    width: 15vw;
    top: 6.5vw;
    left: 7.9vw;
}

.hangman-head{
    top: 0vw;
    left: 5.5vw;
}

.hangman-head img{
    width: 4vw;
    height: 4vw;
}

.hangman-body{
    top: 2.6vw;
    left: 3.8vw;
}

.hangman-body img{
    width: 7vw;
    height: 7vw;
}

.hangman-right-arm{
    top: 4vw;
    left: 0.8vw;
}

.hangman-right-arm img{
    width: 8vw;
    height: 8vw;
}

.hangman-left-arm{
    top: 2.7vw;
    left: 7.4vw;
}

.hangman-left-arm img{
    width: 7vw;
    height: 7vw;
}

.hangman-right-leg{
    top: 9.6vw;
    left: 1.4vw;
}

.hangman-left-leg{
    top: 9.6vw;
    left: 5.6vw;
}

.hangman-left-leg img, 
.hangman-right-leg img{
    width: 8vw;
    height: 8vw;
}

.word{
    top: 6vw;
}

.word p{
    color: #FDFEFE;
}

.change-word{
    top: 17vw;
    right: 6vw;
}

/* ALERTAS */
.alerts{
	/* width: 35vw; */
	display: flex;
    flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	/* margin-top: 2vw; */
	/* height: 10vw; */
    top: 21vw;
    left: 36vw;
}

.alert{
	padding: 15px 25px;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 1.3vw;
	/*transition: all .5s ease; /*animmacion de abrir y cerrar*/
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

.alert-success{
	color: #155724;
  	background-color: #d4edda;
  	border-color: #c3e6cb;
    /* text-shadow: 2px 2px 2px white; */
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* BOTONES */
.button {
    border-radius: 12px;
    border: none;
    padding: 6px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-new-word {
    background-color: #D0D3D4;
    border: 2px solid #e7e7e7;
}

.btn-new-word:hover {
    background-color: #A6ACAF;
}

.alphabet{
    width: 30vw;
    left: 1vw;
    top: -5vw;
}

/* PIE DE PAGINA */
.footer{
    height: 5vh;
    margin-top: -2.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-shadow: 2px 2px 2px white;
}

.footer div p a{
    text-decoration: none;
    color: var(--title-color);
    text-shadow: 2px 2px 2px var(--title-shadow-color);

}



/* @media screen and (max-width: 1366px) {} */

/* @media screen and (max-width: 1280px) {
    /* Laptop with MDPI screen 1280x800 */
    /* El media query se ejecuta desde 0px HASTA 1280px */

   /* 
} */

@media screen and (max-width: 1024px) {
	/* iPad pro 1024x1366 41% */

    .container{
        background: var(--background-color);
    }

    .inactive{
        display: inline-block;
    }

    .image-bg{
        width: 100%;
        height: 55vh;
    }

    .image-bg img{
        width: 100%;
        height: 55vh;
        object-fit: cover;
    }

    .title-bar{
        top: 5vw;
    }

    h1{
        font-size: 7vw;
    }

    .score-table{
        width: 100%;
        top: 15vw;
        right: 0vw;
        font-size: 3vw;
    }
    
    .score-table-titles, 
    .score-table-results{
        width: 100%;
    }

    .score-table-titles h2{
        width: 50%;
    }

    .score-table-results p{
        width: 50%;
        height: 6.4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.3vw;
    }

    .gallow{
        width: 30vw;
        height: 27vh;
        top: 20vw;
        /* top: 6vw; */
        position: relative;
        /* left: 0; */
    }

    .gallow-base {
        width: 8vw;
        height: 2vh;
    }

    .gallow-wood-1 {
        height: 25vh;
        bottom: 2vh;
        left: 3vw;
    }

    .gallow-wood-2 {
        width: 14vw;
        left: 3vw;
    }

    .nail-1 {
        left: 3.7vw;
    }

    .gallow-wood-3 {
        top: 3vw;
        left: 3vw;
    }

    .nail-2 {
        left: 11vw;
    }

    .nail-3 {
        left: 4vw;
        top: 6vw;
    }

    .string {
        left: 14.5vw;
    }

    .string img {
        height: 9vw;
    }

    .hangman {
        height: 19vh;
        top: 7vw;
        left: 8.3vw;
    }

    .hangman-head {
        left: 5.2vw;
    }

    .hangman-head img {
        width: 5vw;
        height: 5vw;
    }

    .hangman-body {
        top: 3.6vw;
        left: 3.4vw;
    }

    .hangman-body img {
        width: 8vw;
        height: 8vw;
    }

    .hangman-right-arm {
        top: 5vw;
        left: 0.1vw;
    }

    .hangman-right-arm img {
        width: 9vw;
        height: 9vw;
    }

    .hangman-left-arm {
        top: 3.6vw;
        left: 7.5vw;
    }

    .hangman-left-arm img {
        width: 8vw;
        height: 8vw;
    }

    .hangman-right-leg {
        top: 11.5vw;
        left: 0.6vw;
    }

    .hangman-left-leg {
        top: 11.5vw;
        left: 5.4vw;
    }

    .hangman-left-leg img, 
    .hangman-right-leg img {
        width: 9vw;
        height: 9vw;
    }

    .word{
        top: 15vw;
        font-size: 4vw;
    }

    .change-word {
        top: 3vw;
        position: relative;
        right: 0vw;
    }

    /* ALERTAS */
    .alerts{
        top: 55vw;
        left: 21vw;
    }

    .alert{
        font-size: 3vw;
    }

    /* BOTONES */
    .button{
        font-size: 3vw;
        padding: 11px 18px;
    }

    .btn-alphabet{
        margin: 5px;
    }

    .alphabet {
        width: 60vw;
        top: -8vw;
    }

    /* PIE DE PAGINA */
    .footer{
        height: 4vh;
        margin-top: -5.7vw;
        font-size: 3vw;
    }
}

@media screen and (max-width: 720px) {
	/* redmi note 9c 720x1600 35% */

    .title-bar{
        top: 8vw;
    }

    h1{
        font-size: 10vw;
    }

    .score-table{
        width: 80%;
        top: 26vw;
        font-size: 4vw;
        position: relative;
    }

    .score-table-results p{
        font-size: 5vw;
    }

    .gallow{
        width: 33vw;
        height: 20vh;
        top: 14vw;
    }

    .gallow-base {
        width: 10vw;
        height: 1.5vh;
    }

    .gallow-wood-1 {
        height: 18.5vh;
        bottom: 1.5vh;
        width: 3vw;
    }

    .gallow-wood-2 {
        width: 20vw;
        height: 3vw;
    }

    .gallow-wood-3 {
        width: 16vw;
        height: 3vw;
        top: 5vw;
        transform: rotate(-42deg);
    }

    .nail-circle {
        width: 1vw;
        height: 1vw;
    }

    .nail-2 {
        left: 15vw;
        top: 1.5vw;
    }

    .nail-3 {
        left: 4.6vw;
        top: 10.6vw;
    }

    .string {
        left: 19vw;
    }

    .string img {
        height: 14vw;
    }

    .hangman {
        height: 13vh;
        top: 11vw;
        left: 13.7vw;
    }

    .hangman-head {
        left: 4.8vw;
    }

    .hangman-head img {
        width: 6vw;
        height: 6vw;
    }

    .hangman-body {
        top: 4.5vw;
        left: 3vw;
    }

    .hangman-body img {
        width: 9vw;
        height: 9vw;
    }

    .hangman-right-arm {
        top: 6vw;
        left: -0.9vw;
    }

    .hangman-right-arm img {
        width: 10vw;
        height: 10vw;
    }

    .hangman-left-arm {
        top: 4.4vw;
        left: 7.6vw;
    }

    .hangman-left-arm img {
        width: 9vw;
        height: 9vw;
    }

    .hangman-right-leg {
        top: 13.5vw;
        left: 0vw;
    }

    .hangman-left-leg {
        top: 13.5vw;
        left: 5.3vw;
    }

    .hangman-left-leg img, .hangman-right-leg img {
        width: 10vw;
        height: 10vw;
    }

    .word{
        top: 16vw;
        font-size: 6vw;
    }

    .change-word {
        top: 2vw;
        position: relative;
    }

    /* ALERTAS */
    .alerts{
        top: 100vw;
        left: 2.5vw;
    }

    .alert{
        font-size: 5vw;
        padding: 15px;
    }

    /* BOTONES */
    .button{
        font-size: 5vw;
        padding: 13px 20px;
    }

    .alphabet {
        width: 78vw;
        top: -10vw;
    }

    .btn-alphabet {
        margin: 6px 7px;
    }

    /* PIE DE PAGINA */
    .footer{
        margin-top: -9vw;
        font-size: 4vw;
    }
}

@media screen and (max-width: 280px) {
	/* galaxy fold 280x653 87% */

    .image-bg, 
    .image-bg img{
        height: 50vh;
    }

    .score-table{
        top: 31vw;
    }

    .gallow{
        top: 21vw;
    }

    .hangman {
        top: 10vw;
        left: 13.3vw;
    }

    .hangman-head {
        left: 4.3vw;
    }

    .hangman-head img {
        width: 7vw;
        height: 7vw;
    }

    .hangman-body {
        top: 5.3vw;
        left: 2.7vw;
    }

    .hangman-body img {
        width: 10vw;
        height: 10vw;
    }

    .hangman-right-arm {
        top: 7vw;
        left: -1.5vw;
    }

    .hangman-right-arm img {
        width: 11vw;
        height: 11vw;
    }

    .hangman-left-arm {
        top: 5.3vw;
        left: 8.2vw;
    }

    .hangman-left-arm img {
        width: 10vw;
        height: 10vw;
    }

    .hangman-right-leg {
        top: 15.2vw;
        left: -0.2vw;
    }

    .hangman-left-leg {
        top: 15.3vw;
        left: 5.4vw;
    }

    .hangman-left-leg img, 
    .hangman-right-leg img {
        width: 11vw;
        height: 11vw;
    }

    .change-word{
        top: 4vw;
        position: relative;
    }

    /* ALERTAS */
    .alerts{
        left: 2vw;
    }

    .alert{
        padding: 7px;
    }

    /* BOTONES */
    .button{
        padding: 5px 12px;
    }

    .alphabet{
        top: -7vw;
    }

    .btn-alphabet {
        margin: 3px;
        border-radius: 10px;
    }
}